.stepsBlockContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 100px;
}

.title {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.stepsContainer {
    display: flex;
    gap: 22px;
}
