.stepsBlockContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px;
  padding: 40px 100px;
}

.title {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.stepsContainer {
  display: flex;
  gap: 22px;
  position: relative;
}

.stepsContainer::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  width: 70%;
  height: 5px;
  transform: translate(-50%, -50%);
  background-color: rgb(165, 166, 168);
  z-index: 1;
}

@media (max-width: 1242px) {
  .stepsContainer {
    flex-direction: column;
    align-items: center;
  }
  .stepsContainer::before {
    display: none;
  }
}

@media (max-width: 640px) {
  .stepsBlockContainer {
    padding: 40px 10px;
  }
  .title {
    font-size: 24px;
  }
}
