.functionality {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 22px;
  padding: 40px 170px;
}

.title {
  font-weight: 600;
  font-size: 30px;
}

.description {
  font-weight: 400;
  font-size: 16px;
}

.cards {
    display: flex;
    gap: 10px;
}