.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #989898;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.burgerMenu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .burgerMenu {
    display: flex;
  }
  .rightSection {
    gap: 8px;
  }
}

@media (max-width: 500px) {
    .headerButton {
        font-size: 12px;
    }
}
