.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 400px;
}

.ellips {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.stepNumber {
  font-weight: 600;
  font-size: 48px;
  text-align: center;
}

.title {
  font-weight: 600;
  font-size: 30px;
}
