.chart {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}


.card {
  display: flex;
  justify-content: center;
  flex: 1;
  background: linear-gradient(
    56.72deg,
    rgba(191, 222, 255, 0.42) 0%,
    rgba(185, 251, 210, 0.42) 100%
  );
}
