.button {
    padding: 10px;
    background: linear-gradient(90deg, rgba(21, 93, 252, 0.7) 0%, rgba(0, 166, 62, 0.7) 100%);
    border-radius: 10px;
    cursor: pointer;
    width: max-content;
    color: white;
    display: flex;
    gap: 10px;
}