.description {
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  display: flex;
  grid-column: 1/4;
  grid-row: 3;
}

.keyFeatures {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background: white;
  border: 1px solid var(--chart-area-blue-stroke, rgba(142, 197, 255, 1));
  border-radius: 8px;
  width: 100%;
  padding: 30px;
  gap: 10px;
  grid-column: 1/4;
  grid-row: 4;
}

.keyFeaturesTitle {
  font-weight: 600;
  font-size: 18px;
}

ul .keyFeatureItem {
  margin-left: 20px;
  list-style: disc;
}

.keyFeaturesList {
  list-style: disc;
  font-size: 14px;
}

.keyFeatureItem {
  text-align: left;
}
