.card {
  border: 1px solid var(--chart-area-blue-stroke, rgba(142, 197, 255, 1));
  border-radius: 8px;
  padding: 30px;
}

@media (max-width: 1024px) {
  .card {
    padding: 20px;
    width: 100%;
  }
}