.analyticsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  width: 100%;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
}

.financialHealthContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  min-width: 0;
  flex: 1 1 calc(50% - 40px);
  width: 100%;
}

@media (max-width: 1024px) {
  .analyticsContainer {
    padding: 20px;
    gap: 20px;
  }
  .financialHealthContainer {
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}