.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  --logo-background-color: linear-gradient(
    188.55deg,
    #2b7fff 3.66%,
    #00c951 96.7%
  );
}
.logo {
  width: 42px;
  height: 42px;
}
.logoText {
  background: var(--logo-background-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 370px) {
  .logoText {
    font-size: 14px;
  }
  .logo {
    width: 32px;
    height: 32px;
  }
}