.cardPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 100px;
  gap: 40px;
}

.steps {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
  padding: 0 36px;
}

.bankContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-weight: 600;
  font-size: 30px;
}

.banks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.bankItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.bankTitle {
  font-weight: 500;
  font-size: 30px;
}

.connectButton {
  width: max-content;
  background: var(--chart-static-blue-3, rgba(21, 93, 252, 1));
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.security {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: linear-gradient(
    134.86deg,
    rgba(191, 222, 255, 0.42) 0%,
    rgba(185, 251, 210, 0.42) 100%
  );
}

.securityTitle {
  font-size: 20px;
  line-height: 150%;
}

.securityAdviceText {
  font-size: 16px;
}

.securityAdvices {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.securityAdvice {
  display: flex;
  align-items: center;
  gap: 6px;
}

@media (max-width: 1024px) {
  .steps {
    flex-direction: column;
  }
  .cardPage {
    padding: 20px;
    gap: 20px;
  }
  .title {
    font-size: 24px;
  }
  .banks {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .bankTitle {
    font-size: 24px;
  }
  .securityTitle {
    font-size: 18px;
  }
  .securityAdviceText {
    font-size: 14px;
  }
}