.card {
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stepPageCard {
  background: var(--chart-area-blue-fill, rgba(191, 222, 255, 0.7));
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
  text-align: left;
}

.image {
  width: 24px;
  height: 24px;
}

.title {
  font-weight: 500;
  font-size: 16px;
}

.description {
  display: flex;
  font-weight: 400;
  font-size: 14px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 16px;
}
