.container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.title {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.description,
.footer {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
