.sidebarItem, .sidebarItemActive {
  display: flex;
  padding: 8px;
  gap: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.sidebarItem:hover, .sidebarItemActive {
  background: var(--chart-area-blue-fill, rgba(191, 222, 255, 0.7));
  color: var(--chart-static-blue-3, rgba(21, 93, 252, 1));
}

.sidebarItemText {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.sidebarItemIcon {
  min-width: 24px;
  min-height: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}
