.sidebar {
  padding: 40px 35px;
  width: 20vw;
  max-width: 500px;
  min-width: 400px;
  border-right: 1px solid rgba(229, 229, 229, 1);
}
.sidebarList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1024px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 70%;
    height: 100vh;
    background: #fff;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .sidebarOpen {
    transform: translateX(0);
    z-index: 1000;
  }
}
