.chartLayout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr auto;
  justify-content: center;
  gap: 35px;
  width: 100%;
}

.chartLayout h3 {
  font-weight: 600;
  font-size: 30px;
}

.chartLayout ul, .chartLayout p {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-weight: 400;
  font-size: 20px;
  animation: 1s fadeIn ease-in-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}