.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  max-width: 10vw;
}

.image {
  width: clamp(48px, 5vw, 100px);
  height: clamp(48px, 5vw, 100px);
}

.title {
  color: var(--chart-static-blue-3, rgba(21, 93, 252, 1));
  font-size: clamp(12px, 5vw, 24px);
  font-weight: 500;
}

.description {
  font-weight: 400;
  font-size: clamp(12px, 5vw, 18px);
  color: black;
}
