.goalsPage {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 40px;
  gap: 40px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.createGoalTitle {
  font-size: 26px;
  font-weight: bold;
}

.createGoal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px 50px;
  border: 1px solid rgba(142, 197, 255, 1);
  border-radius: 8px;
  width: 30vw;
  max-width: 600px;
}

.input {
  width: 100%;
  border: 1px solid var(--general-border, rgba(229, 229, 229, 1));
  padding: 6px;
  border-radius: 8px;
}

.replenishment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  font-weight: 500;
}

.replenishment > select {
  border: 1px solid var(--general-border, rgba(229, 229, 229, 1));
  padding: 6px;
  border-radius: 8px;
}
