.userPage {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  background: rgba(229, 231, 235, 0.4);
}

.header {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 20px;
}

.input {
  display: flex;
  align-items: start;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  gap: 5px;
  width: 100%;
}

.input input {
  max-width: 320px;
  width: 100%;
  padding: 10px;
  height: 36;
  min-height: 36px;
  gap: 8;
  opacity: 1;
  border-radius: 8px;
  border-width: 1px;
  padding-top: 7.5px;
  padding-right: 3;
  padding-bottom: 7.5px;
  padding-left: 3;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 1);
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons button {
  height: 41px;
  opacity: 1;
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
  border: 1px solid var(--chart-area-blue-stroke, rgba(142, 197, 255, 1));
}

@media (max-width: 1024px) {
  .buttons {
    width: 100%;
    font-size: 15px;
    flex-direction: column;
  }
  .buttons button {
    width: 100%;
    height: 100%;
  }
}
