.hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  box-sizing: content-box;
  padding: 70px 50px 125px;
  width: 601px;
  position: relative;
  z-index: 2;
}

.title {
  display: flex;
  text-align: start;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  vertical-align: middle;
  margin-bottom: 20px;
}

.highlight {
  background: linear-gradient(
    90deg,
    #7bf1a8 0%,
    #00c951 30%,
    #2b7fff 60%,
    #8ec5ff 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.description {
  text-align: start;
  font-weight: 400;
  font-size: 24px;
  vertical-align: middle;
  margin-bottom: 15px;
}

.advantagesBlock {
  display: flex;
  gap: 20px;
}

.advantage {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}
.heroImage,
.ellipsFirst,
.ellipsSecond,
.spring {
  position: absolute;
  z-index: 1;
}
.heroImage {
  width: 584px;
  height: 584px;
  top: -2%;
  right: clamp(-90%, -39vw, -20%);
}
.ellipsFirst {
  width: 150px;
  height: 150px;
  top: 15%;
  right: clamp(-15%, -39vw, -15%);
  z-index: -1;
}
.ellipsSecond {
  bottom: 10%;
  right: clamp(-90%, -39vw, 0%);
}
.spring {
  bottom: 0;
  right: 0%;
}

@media (max-width: 1200px) {
  .ellipsFirst {
    display: none;
  }
  .ellipsSecond {
    display: none;
  }
  .heroImage {
    width: 450px;
    height: 450px;
    right: clamp(-100%, -50vw, -10%);
  }
}

@media (max-width: 640px) {
  .hero {
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
  }
  .textBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .highlight {
    font-size: 20px;
  }
  .title {
    font-size: 24px;
    margin: 0;
  }
  .description {
    font-size: 12px;
  }
  .textBlock {
    width: 240px;
  }
  .spring {
    display: none;
  }
  .advantage {
    font-size: 12px;
  }
  .heroImage {
    width: 146px;
    height: 146px;
    top: 20%;
    right: 20%;
  }
  .ellipsFirst {
    display: block;
    width: 30px;
    height: 30px;
    top: 5%;
    right: 25%;
    z-index: 3;
  }
  .ellipsSecond {
    display: block;
    width: 100px;
    height: 100px;
    bottom: 25%;
    right: 23%;
    z-index: -1;
  }
}

@media (max-width: 458px) {
  .heroImage {
    width: 146px;
    height: 146px;
    top: 20%;
    right: -5%;
  }
  .ellipsSecond {
    right: 0;
  }
}

@media (max-width: 280px) {
  .heroImage {
    display: none;
  }
}